{% if games %}
<script>
    $(document).ready(function(){
        $(".remove").click(function() {
            $.ajax("/remove_from_basket/" + this.id + "/",
                 {success: function(res){
                     $("div#basket").html(res);
                 }});
        });
    });
</script>
<table>
  <tr>
    <th>Game</th>
    <th>Price</th>
  </tr>
  {% for game in games %}
  <tr>
    <th>{{ game.name }}</th>
    <th>{{ game.price }} €</th>
    <th> <button type="button" class="remove" id="{{ game.id }}">Remove</button> </th>
  </tr>
  {% endfor %}
  <tr>
    <th>Total</th>
    <th>{{ total }} €</th>
  </tr>
</table>
{% else %}
<p> Basket is empty.</p>
{% endif %}
