{% if games %}
<script>
    $(document).ready(function(){
        $(".remove").click(function() {
            $.ajax("/remove_from_basket/" + this.id + "/",
                 {success: function(res){
                     $("div#basket").html(res);
                 }});
        });
    });
</script>
<table class="table table-striped">
  <tr>
    <th class="col-xs-3">Game</th>
    <th class="col-xs-2">Price</th>
    <th class="col-xs-1"></th>
  </tr>
  {% for game in games %}
  <tr>
    <td>{{ game.name }}</td>
    <td>{{ game.price }} €</td>
    {% if modifiable %}
      <td> <button type="button" class="remove btn btn-warning btn-sm btn-block" id="{{ game.id }}">Remove</button> </td>
    {% else %}
      <td></td>
    {% endif %}
  </tr>
  {% endfor %}
  <tr>
    <th>Total</th>
    <th>{{ total }} €</th>
    <th></th>
  </tr>
</table>
{% else %}
<p class="text-info"> Basket is empty.</p>
{% endif %}
