{% extends "base.html" %}

{% block content %}
  <script>
    var game = '{{ game }}';
    var user = '{{ user }}';
  </script>
  <script>
    $(document).ready(function(){
      $("#edit_game").click(function(){
        $.ajax({
          url: '/editgame/{{ game.id }}/',
          data: {'user': user, 'game': game},
          success: function(res){
            $(".game_info").html(res);
          }
        });
      });
      $("#remove_game").click(function(){
        $.ajax({
          url: '/deletegame/{{ game.id }}/',
          data: {'user': user, 'game': game},
          success: function(res){
            $(".game_info").html(res);
          }
        });
      });
      $("#add_to_basket").click(function() {
          $.ajax("/add_to_basket/{{ game.id }}/");
      });
    });
  </script>

  <section class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1> {{ game.name }} </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        {% if has_purchased or game.developer == user.siteuser and user.siteuser.developer_status == 1 %}
        <iframe id="game" src={{ game.src }}></iframe>
        <p id="last_saved"></p>
        {% else %}
        <image id="img" src={{ game.thumbnail }}>
        <h6> Price: {{ game.price }}</h6>
        <button type="button" id="add_to_basket">Add to Basket</button>
        {% endif %}
      </div>
      <div class="col-sm-4 highscores">
        {% include "highscore.html" %}
      </div>
    </div>
    {% if user.siteuser.developer_status == 1 and game.developer == user.siteuser %}
    <div class="row">
      <h3>Developer options</h3>
      <div class="col-sm-4">
        <a><p class="dev_op" id="edit_game">Edit game</p></a>
        <p class="dev_op">Show sales statistics</p>
        <a><p class="dev_op" id="remove_game">Remove game</p></a>
      </div>
      <div class="col-sm-6 game_info">
        {% block game_edits %}
        {% endblock %}
      </div>
    </div>
    {% endif %}
  </section>
{% endblock %}
