{% extends "base.html" %}

{% block decoration %}
<section class="jumbotron">
  <div class="container">
    <div class="row text-center">
      <h2>Git Gud!</h2>
      <h3>Web Software Development</h3>
    </div>
  </div>
</section>

{% endblock %}

{% block content %}

<section class="container">
  <div class="col-sm-6" id="games_div">
    {% block games %}
    {% endblock %}
  </div>


{% block search %}
  <div class="col-sm-6">
    <h3 class="filter"> Filters </p>
    <a class="filter" id="all_filter"><p> All Games </p></a>
    <a class="filter" id="strategy_filter"><p> Strategy </p></a>
    <a class="filter" id="shooting_filter"><p> Shooting </p></a>
    <a class="filter" id="arcade_filter"><p> Arcade </p></a>
    <a class="filter" id="adventure_filter"><p> Adventure </p></a>
  </div>
{% endblock %}
</section>
{% endblock %}
