{% extends "base.html" %}

{% block decoration %}
<section class="jumbotron">
  <div class="container">
    <div class="row text-center">
      <h2>Git Gud!</h2>
      <h3>Web Software Development</h3>
    </div>
  </div>
</section>

{% endblock %}

{% block content %}

{% if games %}
<section class="container">
  <div class="col-sm-6">
    {% for g in games %}
    <a href="/game/{{ g.id }}/">
      <div class="row game_box">
        <h1>{{ g.name }}</h1>
        <img class="game_thumbnail right" src= {{g.thumbnail}}>
        <h3>{{ g.category }}</h3>
        <p>Price: {{ g.price }}€</p>
        <p class="developer_name"> Developer: {{ g.developer.user.username }}</p>

      </div>
    </a>
    {% endfor %}
  </div>
</section>

{% else %}
No games available.
{% endif %}

{% endblock %}
