{% extends "base.html" %}
{% load static %}

{% block js-block %}
  <script src="{% static 'show_hide.js' %}" type='text/javascript'></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script>
    'use strict'
    var a = {{ datelistj|safe }};
  </script>

{% endblock %}

{% block content %}
  <section class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2> Profile: {{ user.username }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p> Register date: {{ user.siteuser.registration_date }}</p>
        <p> Games purchased: {{ user.siteuser.transaction_set.count }}</p>
      </div>
    </div>
    {% if user.siteuser.developer_status %}
      <div class="row">
        <div class="col-sm-6">
          <h3> Developer information</h3>
          <!-- Might need formatting -->
          <p><a href="/add_game/">Add new game</a></p>
          <h4>Sales statistics</h4>

          <div class="gamestatsparent">
            {% for game in games %}
            <div class="gamestats">
              <h5>{{ game.name }}</h5>
              {% for gamename, value in totalSalesList.items %}
                {% if gamename == game.name %}
                <p>Total sales: {{ value }}</p>
                <p class="show_chart">Show details</p>

                <div class="chart">
                  <div id="{{ game.name }}" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                  <script src="{% static 'charts.js' %}" type="text/javascript"></script>

                  <p class="hide_chart">Hide details</p>
                </div>
                {% endif %}
              {% endfor %}



            </div>
            {% endfor %}
          </div>
          <!-- Might need formatting -->
        </div>

      </div>
      {% if user.siteuser.game_set.count > 0 %}
      <div class="row">
        <div class="col-sm-6">
          <h3> Own games </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          {% for game in user.siteuser.game_set.all %}
            <div class="game_box inline">
              <a href="/game/{{ game.id }}/">
                <h1>{{ game.name }}</h1>
                <img class="game_thumbnail" src={{ game.thumbnail }}>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    {% endif %}
  </section>
{% endblock %}
