{% extends "base.html" %}

{% block content %}
  <section class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2> Profile: {{ user.username }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p> Register date: {{ user.siteuser.registration_date }}</p>
        <p> Games purchased: {{ user.siteuser.transaction_set.count }}</p>
      </div>
    </div>
    {% if user.siteuser.developer_status %}
      <div class="row">
        <div class="col-sm-6">
          <h3> Developer information</h3>
          <!-- Might need formatting -->
          <p><a href="/add_game/">Add new game</a></p>
          <h4>Sales statistics</h4>

          <div>
            {% for game in games %}
            <dl>
              <dt>{{ game.name }}</dt>
              {% for gamename, value in totalSalesList.items %}
                {% if gamename == game.name %}
                  <dd>Total sales: {{ value }}</dd>
                {% endif %}
              {% endfor %}
              {% for gamename, list in datelist.items %}
                {% if gamename == game.name %}
                  {% for day in list %}
                    <dd>{{ day.0 }} Sales: {{ day.1 }}</dd>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </dl>
            {% endfor %}
          </div>
          <!-- Might need formatting -->
        </div>

      </div>
      {% if user.siteuser.game_set.count > 0 %}
      <div class="row">
        <div class="col-sm-6">
          <h3> Own games </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          {% for game in user.siteuser.game_set.all %}
            <div class="game_box inline">
              <a href="/game/{{ game.id }}/">
                <h1>{{ game.name }}</h1>
                <img class="game_thumbnail" src={{ game.thumbnail }}>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    {% endif %}
  </section>
{% endblock %}
