{% extends "base.html" %}

{% block content %}
  <section class="container">
    <div class="row">
      <h1> {{ user.username }}'s purchased games </h1>
    </div>
    <div class="row">
      {% for transaction in user.siteuser.get_transactions %}
        <div class="game_box inline">
          <a href="/game/{{ game.id }}/">
            <h1>{{ transaction.game.name }}</h1>
            <img class="game_thumbnail" src={{ transaction.game.thumbnail }}>
          </a>
        </div>
      {% endfor %}
    </div>
{% endblock %}
